.item {
    border-radius: 2px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
}

.thumbInner {
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    justify-content: center;
}

.img {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
    max-height: 75px;
}

.removeFile {
    &:hover {
        cursor: pointer;
        color: burlywood;
    }
}

.inputFile {
    max-width: 90px;
    height: 28px;
    display: block;
    margin: 0 auto;
}